In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"F:\LPU\Data\Handling null\car-sales-extended-missing-data.csv")

In [3]:
df = pd.DataFrame(data)
df.head(5)

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [4]:
df.isnull().any()

Make             True
Colour           True
Odometer (KM)    True
Doors            True
Price            True
dtype: bool

In [5]:
df.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           951 non-null    object
 1   Colour         950 non-null    object
 2   Odometer (KM)  950 non-null    float64
 3   Doors          950 non-null    float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [10]:
df2 = df['Make'].fillna(value="Unidentified")
df2

0             Honda
1               BMW
2             Honda
3            Toyota
4            Nissan
           ...
995          Toyota
996    Unidentified
997          Nissan
998           Honda
999          Toyota
Name: Make, Length: 1000, dtype: object

In [12]:
df3 = df.fillna(method="pad")
df3.isnull().any()

Make             False
Colour           False
Odometer (KM)    False
Doors            False
Price            False
dtype: bool

In [13]:
df4 = df.fillna(method='bfill')
df4

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996  Nissan  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [14]:
df5 = df.fillna(method='pad',axis=1)
df5

       Make Colour Odometer (KM) Doors    Price
0     Honda  White       35431.0   4.0  15323.0
1       BMW   Blue      192714.0   5.0  19943.0
2     Honda  White       84714.0   4.0  28343.0
3    Toyota  White      154365.0   4.0  13434.0
4    Nissan   Blue      181577.0   3.0  14043.0
..      ...    ...           ...   ...      ...
995  Toyota  Black       35820.0   4.0  32042.0
996     NaN  White      155144.0   3.0   5716.0
997  Nissan   Blue       66604.0   4.0  31570.0
998   Honda  White      215883.0   4.0   4001.0
999  Toyota   Blue      248360.0   4.0  12732.0

[1000 rows x 5 columns]