In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"F:\LPU\Data\Datasets\Retail sales\retail_sales_dataset.csv")

In [3]:
df = pd.DataFrame(data)
df.head(5)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [4]:
for a,i in enumerate(df):
    print(a)
    print(i+" :",type(i))

0
Transaction ID : <class 'str'>
1
Date : <class 'str'>
2
Customer ID : <class 'str'>
3
Gender : <class 'str'>
4
Age : <class 'str'>
5
Product Category : <class 'str'>
6
Quantity : <class 'str'>
7
Price per Unit : <class 'str'>
8
Total Amount : <class 'str'>

In [5]:
x = [int, 'datetime64[ns]', 'string', 'string', int, 'string', int, float, float]
for a, i in enumerate(df.columns):
    df[i] = df[i].astype(x[a])
print(df.dtypes)

Transaction ID               int32
Date                datetime64[ns]
Customer ID                 string
Gender                      string
Age                          int32
Product Category            string
Quantity                     int32
Price per Unit             float64
Total Amount               float64
dtype: object

In [6]:
df['Gender'].unique()

<StringArray>
['Male', 'Female']
Length: 2, dtype: string

In [7]:
val = 0
for i in df:
    if df[i].isnull().any():
        val = 1
print(val if val else "No null values")

No null values

In [8]:
for col in df.columns:
    col_lower = col.lower()
    if 'id' in col_lower:
        for index, value in df[col].items():
            if pd.isnull(value):
                df.drop(index, inplace=True)

In [9]:
for col in df.columns:
    col_lower = col.lower()
    if 'id' in col_lower:
        df.drop_duplicates(subset=[col], keep='first', inplace=True)

In [10]:
for col in df.columns:
    col_lower = col.lower()
    if 'id' in col_lower:
        print(f"Count of {col} = {df[col].count()}")

Count of Transaction ID = 1000
Count of Customer ID = 1000

In [11]:
for col in df.columns:
    col_lower = col.lower()
    if 'gender' in col_lower:
        temp = df[col].unique()
        print("Unique genders present are: ",end="")
        for value in range(len(temp)):
            if value == len(temp)-1:
                print(temp[value])
            else:
                print(temp[value],end=",")

Unique genders present are: Male,Female

In [12]:
bins = [0, 20, 40, 60, 80, 100, 200]  # Define your age ranges here
labels = ['0-20', '21-40', '41-60', '61-80', '81-100', '>100']  # Labels for the ranges

# Create age range categories
df['Age Range'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

# Count values in each range
range_counts = df['Age Range'].value_counts().sort_index()

# Print the counts
for range_label, count in range_counts.items():
    print(f"{range_label}: {count}")

0-20: 42
21-40: 400
41-60: 443
61-80: 115
81-100: 0
>100: 0

In [13]:
for col in df:
    col_lower = col.lower()
    if any(keyword in col_lower for keyword in ['amount', 'revenue', 'price', 'cost']):
        print(f"Sum of {col} = {sum(df[col])}")

Sum of Price per Unit = 179890.0
Sum of Total Amount = 456000.0