In [121]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [122]:
df = pd.DataFrame(pd.read_excel(r"F:\LPU\Data\Datasets\Internship datasets\UsPathway\US Pathway Complete Data.xlsx", sheet_name='Candidate Application Tracker'))

In [123]:
df = df.drop('S. No.', axis=1)

In [124]:
df.head()

,Candidate Name,Counselor Name,Block Amount Received Date,Univ. Pitched,Lead Id,Candidate Preferred College #1,Candidate Preferred College #2,10th Percentage,12th Percentange,UG - CGPA (out of 10),...,Offer Letter Submission Date,.9,Financials Submission,Financials Submission Date,i20 Provisioned,i20 Provisioned Date,Remarks,Status,SOP Status,.10
0,Vikash,Shailendra Singh,45152,Rutgers,NaN,Rutgers Business School,NaN,NaN,NaN,7.099,...,NaN,NaN,1.0,NaN,Received,14/03/2024,NaN,Defer Fall,NaN,NaN
1,Hariraj,Shailendra Singh,45188,Fairfield/DePaul,NaN,DePaul Kellstadt Graduate School of Business,NaN,NaN,NaN,7.95,...,NaN,NaN,0.0,NaN,NaN,NaN,On Hold due to CX In Hospital,Defer Fall,NaN,NaN
2,Thippesh,Shailendra Singh,45190,Rutgers,NaN,Rutgers Business School,NaN,NaN,NaN,7.87,...,NaN,NaN,1.0,20/02/2024,Received,20/02/2024,NaN,Defer Fall,NaN,NaN
3,Chintan,Shailendra Singh,45202,DePaul,NaN,DePaul Kellstadt Graduate School of Business,NaN,NaN,NaN,10,...,NaN,NaN,1.0,NaN,Received,28/03/2024,was On Hold due to family issues,Defer Fall (Dropped),NaN,NaN
4,Sagar,Shailendra Singh,45181,Rutgers,NaN,Rutgers Business School,NaN,NaN,NaN,7.42,...,45224.0,NaN,1.0,18/02/2024,Received,21/02/2024,NaN,Defer Fall,NaN,NaN

In [125]:
df['Lead Id'].isnull().sum()

np.int64(187)

In [126]:
len(df)

316

In [127]:
df['Lead Id'].notnull().sum()

np.int64(129)

In [128]:
df["Lead Id"].duplicated().sum()

np.int64(186)

In [129]:
ndf = df[df['Lead Id'].notnull()]

In [130]:
ndf["Lead Id"].duplicated().sum()

np.int64(0)

In [131]:
ndf["Lead Id"].isnull().sum()

np.int64(0)

In [132]:
ndf.head()

,Candidate Name,Counselor Name,Block Amount Received Date,Univ. Pitched,Lead Id,Candidate Preferred College #1,Candidate Preferred College #2,10th Percentage,12th Percentange,UG - CGPA (out of 10),...,Offer Letter Submission Date,.9,Financials Submission,Financials Submission Date,i20 Provisioned,i20 Provisioned Date,Remarks,Status,SOP Status,.10
15,Verana,Diptikanta Jena,45205,DePaul,l:747863164109985,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Defer Fall (Dropped),NaN,NaN
46,Shirish,Diptikanta Jena,45260,DePaul/Tulane,5ce45626-39b0-49cf-b777-51a3a5f2880d-6,DePaul Kellstadt Graduate School of Business,"Clark University, School of Management",NaN,NaN,7.19,...,NaN,NaN,1.0,NaN,Received,45599,NaN,Fall,NaN,NaN
53,Tanya,Diptikanta Jena,45272,Fairfield/DePaul,l:900041774843171,DePaul Kellstadt Graduate School of Business,"RIT, Saunders College of Business",NaN,NaN,6.34 ( 1 backlog ),...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Fall,NaN,NaN
54,Aditya,Shailendra Singh,45273,Drexel/SUNY/RBS/CWRU,23d26a27-e361-4802-b9f6-7a73bc2a8834-6,"University at Buffalo (SUNY), School of Manage...",Rutgers Business School,NaN,NaN,8.28,...,NaN,Application@2024,0.0,NaN,NaN,NaN,NaN,Fall (Dropped),NaN,NaN
55,Ashish,Diptikanta Jena,45273,Drexel,l:1293647514650937,"Drexel University, College of Computing Inform...","Drexel University, College of Engineering",NaN,NaN,F,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Fall (Dropped),NaN,NaN

In [133]:
ndf['Candidate Name'].isnull().sum()

np.int64(0)

In [134]:
ndf['Block Amount Received Date'].isnull().sum()

np.int64(1)

In [135]:
ndf['Block Amount Received Date'].isnull().sum()

np.int64(1)

In [136]:
ndf.dtypes

Candidate Name                 object
Counselor Name                 object
Block Amount Received Date     object
Univ. Pitched                  object
Lead Id                        object
                               ...
i20 Provisioned Date           object
Remarks                        object
Status                         object
SOP Status                    float64
 .10                          float64
Length: 142, dtype: object

In [137]:
df['Block Amount Received Date'] = pd.to_datetime(df['Block Amount Received Date'], errors='coerce')
print(df.dtypes)

Candidate Name                        object
Counselor Name                        object
Block Amount Received Date    datetime64[ns]
Univ. Pitched                         object
Lead Id                               object
                                   ...
i20 Provisioned Date                  object
Remarks                               object
Status                                object
SOP Status                           float64
 .10                                 float64
Length: 142, dtype: object

In [138]:
len(ndf.columns)

142

In [139]:
for x in ndf.columns:
    print(f"{x} : {ndf[x].isnull().sum()}")

Candidate Name : 0
Counselor Name : 0
Block Amount Received Date : 1
Univ. Pitched : 47
Lead Id : 0
Candidate Preferred College #1 : 11
Candidate Preferred College #2 : 39
10th Percentage  : 63
12th Percentange : 63
UG - CGPA (out of 10)  : 13
GPA (Out of 4) : 15
PG - CGPA or % : 101
Work Exp. : 16
Highest Education : 60
Designation - Company Name  : 64
Candidate Application Status : 0
Candidate Loan Status : 0
Remarks - General : 8
Reason for dropping : 114
If dropped, mention stage of the application : 126
  : 129
KYC & Acad Documents Received : 1
Tech Exam Scores : 78
Coding Test Score : 79
English Exam Scores : 80
Exam Taking Date : 77
English Interview Score (15) : 88
Tech. interview Score (10) : 91
 .1 : 129
Application Type : 34
Intake Status : 0
 .2 : 129
Choice of School #1 : 18
Choice of Program #1 : 18
Passport #1 : 3
Resume #1 : 3
Degree #1 : 3
Transcript #1 : 3
Application Fee #1 : 3
LOR #1 : 3
SOP #1 : 3
Pending Stage #1 : 4
Application Status #1 : 18
Application Initation Date #1 : 43
App Partially Submitted Date #1 : 85
Application Submission Date #1 : 34
Offer Letter #1 : 47
Offer Letter Provision Date #1 : 72
Deposit #1 : 8
Deposit Date Paid #1 : 94
 .3 : 129
Choice of School #2 : 47
Choice of Program #2 : 47
Application Fee #2 : 4
LOR #2 : 4
SOP #2 : 4
Pending Stage #2 : 3
Application Status #2 : 47
Application Initation Date #2 : 62
App Partially Submitted Date #2 : 100
Application Submission Date #2 : 66
Offer Letter #2 : 70
Offer Letter Provision Date #2 : 89
Deposit #2 : 6
Deposit Date Paid #2 : 115
 .4 : 129
Choice of School #3 : 106
Choice of Program #3 : 106
Application Fee #3 : 6
LOR #3 : 6
SOP #3 : 6
Pending Stage #3 : 5
Application Status #3 : 106
Application Initation Date #3 : 106
App Partially Submitted Date #3 : 122
Application Submission Date #3 : 109
Offer Letter #3 : 109
Offer Letter Provision Date #3 : 122
Deposit #3 : 125
Deposit Date Paid #3 : 127
Remarks #3 (If Rejected) : 129
 .5 : 129
Choice of School #4 : 122
Choice of Program #4 : 122
Application Fee #4 : 7
LOR #4 : 7
SOP #4 : 7
Pending Stage #4 : 7
Application Status #4 : 122
Application Initation Date #4 : 122
App Partially Submitted Date #4 : 127
Application Submission Date #4 : 126
Offer Letter #4 : 126
Offer Letter Provision Date #4 : 127
Deposit #4 : 128
Deposit Date Paid #4 : 128
Remarks #4 (If Rejected) : 129
 .6 : 129
Choice of School #5 : 128
Choice of Program #5 : 128
Application Fee #5 : 7
LOR #5 : 7
SOP #5 : 7
Pending Stage #5 : 8
Application Status #5 : 128
Application Initation Date #5 : 128
App Partially Submitted Date #5 : 128
Application Submission Date #5 : 128
Offer Letter #5 : 128
Offer Letter Provision Date #5 : 128
Deposit #5 : 128
Deposit Date Paid #5 : 128
Remarks #5 (If Rejected) : 129
 .7 : 129
IIM / IIT  Status : 0
 Loan Status : 0
Loan Partner I : 123
Loan Partner II : 127
Loan Application Submit Date : 129
Existing Loan : 124
CIBIL SCORE : 43
No. of defaults : 128
 .8 : 127
Aadhar Card : 17
PAN Card : 17
Passport : 17
CV/Resume : 17
CIBIL Score : 17
Bank Statement (Savings - 6mo) : 17
Affidavit Letter : 17
Sponsorship Letter : 17
Offer Letter : 17
Offer Letter Submission Date : 129
 .9 : 128
Financials Submission : 17
Financials Submission Date : 129
i20 Provisioned : 105
i20 Provisioned Date : 126
Remarks : 127
Status  : 0
SOP Status : 129
 .10 : 129

In [140]:
ndf.isnull().sum()

Candidate Name                  0
Counselor Name                  0
Block Amount Received Date      1
Univ. Pitched                  47
Lead Id                         0
                             ...
i20 Provisioned Date          126
Remarks                       127
Status                          0
SOP Status                    129
 .10                          129
Length: 142, dtype: int64

In [141]:
ndf['Univ. Pitched'].unique()

array(['DePaul', 'DePaul/Tulane', 'Fairfield/DePaul',
       'Drexel/SUNY/RBS/CWRU', 'Drexel', 'Depaul/Akron', 'Drexel MBA',
       'Tulane/Rutgers', 'Drexel (MBA)/Clark (MBA)', 'Drexel/Tulane',
       'SUNY', 'Drexel / Clark', 'Case Western, Rutgers, SUNY Buffalo',
       'RIT, Rutgers, SUNY Buffalo', 'Drexel / Tulane', 'Clark / Drexel',
       'SUNY / Rutgers', 'DePaul / Drexel', 'RUTGERS (VG sir approved)',
       'SUNY / West Texas', 'SUNY Buffalo/ Rider',
       'Drexel ML Engineering, RIT Packaging Science', 'Rider',
       'Sunny/Rutgers', 'Drexel/CWRU', nan, 'Drexel/Clark',
       'Depaul/Drexel', 'Drexel (MBA) ', 'RIT/Sunny', 'RIT/ Rider',
       'SUNY/DePaul', 'Rutgers/SUNY', 'CWRU/SUNY',
       'Drexel/West Texas A&M University', 'Rider/Depaul', 'Sunny/Tulane',
       'Fairfield/Sunny', 'VG Sir suggetsed DePaul,Tulane and Sunny',
       'Fairfield/Akron', 'Drexel/Pace', 'Casewestern/Rutgers',
       'SUNY, Drexel', 'SUNY, Depaul',
       'VG sir Suggested Drexel Eng Mang & Mba for this profile ',
       'Depaul/Rider', 'Drexel/ Tulane', 'Rider/ Texas', 'RIT/Pace',
       'Drexel/ pace', 'Depaul/sunny', 'Rit/ Akron', 'Fairfield/ Depaul',
       'Depaul/Sunny', 'sunny/Case western', 'Rider/West Texas',
       'Rutgers', 'RIT/Drexel', 'Tulane/Drexel', 'Sunny/RIT',
       'RIT/Depaul', 'Depaul', 'Sunny', 'Fairfeild/Depaul', 'Drexel/RIT',
       'Pace/Drexel', 'Depaul/Fairfield', 'Case western/ Sunny',
       'drexel/rider', 'Clark'], dtype=object)

In [142]:
ndf['Univ. Pitched'] = ndf['Univ. Pitched'].replace('', 'NA')

C:\Users\SIDDHARTH\AppData\Local\Temp\ipykernel_11372\3871085107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf['Univ. Pitched'] = ndf['Univ. Pitched'].replace('', 'NA')

In [143]:
ndf.loc[ndf['Univ. Pitched'].isnull(), 'Univ. Pitched'] = 'NA'

In [144]:
ndf['Univ. Pitched'].isnull().sum()

np.int64(0)

In [145]:
ndf.loc[ndf['Candidate Preferred College #1'].isnull(), 'Candidate Preferred College #1'] = 'NA'

In [146]:
ndf.loc[ndf['Candidate Preferred College #2'].isnull(), 'Candidate Preferred College #2'] = 'NA'

In [147]:
ndf['10th Percentage '] = ndf['10th Percentage '].astype(str).replace('GPA', '')

C:\Users\SIDDHARTH\AppData\Local\Temp\ipykernel_11372\2264328469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf['10th Percentage '] = ndf['10th Percentage '].astype(str).replace('GPA', '')

In [148]:
ndf['10th Percentage '].unique()

array(['nan', '0.552', '74', '95', '80', '81.7', '0.082', '90', '57.76',
       '74.91', '82.8', '0.566', '69.06', '0.458', '78.8', '90.6',
       '0.466', '74.8', '40', '88', '47.6', '92.8', '0.674', '8.8 GPA',
       '66.8', '0.65', '92', '7.0 GPA', '9.4 GPA', '63.4', '58.6',
       '5.8 CGPA', '51.5', '93.6', '93', '92.15', '79.82', '79.8', '87.4',
       '66.28', '93.82', '89.3', '79.3', '83.6', 'A+', '72.2', '66.2',
       '84.33', '92.4', '87', '67.2', '77.83', '65', '6.3', '77.33',
       '87.85', '88.18', '91.2'], dtype=object)

In [149]:
ndf['10th Percentage '].unique()

array(['nan', '0.552', '74', '95', '80', '81.7', '0.082', '90', '57.76',
       '74.91', '82.8', '0.566', '69.06', '0.458', '78.8', '90.6',
       '0.466', '74.8', '40', '88', '47.6', '92.8', '0.674', '8.8 GPA',
       '66.8', '0.65', '92', '7.0 GPA', '9.4 GPA', '63.4', '58.6',
       '5.8 CGPA', '51.5', '93.6', '93', '92.15', '79.82', '79.8', '87.4',
       '66.28', '93.82', '89.3', '79.3', '83.6', 'A+', '72.2', '66.2',
       '84.33', '92.4', '87', '67.2', '77.83', '65', '6.3', '77.33',
       '87.85', '88.18', '91.2'], dtype=object)

In [118]:
len(ndf['10th Percentage '].unique())

58

In [119]:
ndf['10th Percentage '].dtypes

dtype('O')

In [152]:
def clean_p(value):
    if isinstance(value, str):
        if 'GPA' in value or 'CGPA' in value:
            return float(value.split()[0])
    else:
        return value
    
ndf.loc[:, '10th Percentage '] = ndf['10th Percentage '].apply(clean_p)
ndf.loc[:, '10th Percentage '] = ndf['10th Percentage '].astype(float)
print(ndf['10th Percentage '].unique())

[nan 8.8 7.0 9.4 5.8]

In [153]:
ndf['10th Percentage '].unique()

array([nan, 8.8, 7.0, 9.4, 5.8], dtype=object)

In [157]:
ndf.loc['10th Percentage ', ndf['10th Percentage ']] = ndf['10th Percentage '].astype(str)

C:\Users\SIDDHARTH\AppData\Local\Temp\ipykernel_11372\4264241042.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf.loc['10th Percentage ', ndf['10th Percentage ']] = ndf['10th Percentage '].astype(str)

In [159]:
ndf['10th Percentage '].dtypes

dtype('O')