In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame(pd.read_excel(r"F:\LPU\Data\Datasets\Internship datasets\UsPathway\US Pathway Complete Data.xlsx", sheet_name='Tokens Paid'))

In [3]:
df.isnull().sum()

Name                  0
Lead ID             146
created_date          1
paid_date             0
cohort                0
source                5
agent                 0
counsellor            2
prospect_id           2
upload_timestamp    267
status               26
dtype: int64

In [4]:
len(df)

267

In [5]:
tokens_clean = df[df['Lead ID'].notnull()]
tokens_clean.head()

,Name,Lead ID,created_date,paid_date,cohort,source,agent,counsellor,prospect_id,upload_timestamp,status
17,Srija,l:1501566724035844,2024-04-13,2024-05-02,Cohort 2,Facebook,payal dhiman,Shashwat,23d84277-bb77-4b58-a9ee-2d36c4c7ac76,NaN,ACTIVE TOKEN
18,Satyam,d552642c-6784-4d5d-a545-0e926458e848-3,2024-03-18,2024-03-19,Cohort 2,Linkedin,payal dhiman,Shailendra singh,9534b162-f601-4a4c-aa56-03f71d73a652,NaN,ACTIVE TOKEN
24,Tanya,l:900041774843171,2023-11-30,2023-12-12,Cohort 2,Facebook,Vaibhav Kumar Sharma,Diptikanta Jena,fc411dd9-9a3c-43af-b9a4-e9155e756031,NaN,ACTIVE TOKEN
28,Ashish,l:1293647514650937,2023-12-06,2023-12-13,Cohort 2,Facebook,Vaibhav Kumar Sharma,Diptikanta Jena,40deb473-11f6-4da6-9fd0-75f1f3075b86,NaN,ACTIVE TOKEN
32,Satheesh,l:1519452715578667,2024-02-18,2024-03-15,Cohort 2,Facebook,Sagar Tiwari,Shailendra singh,b12ebd59-c99e-45c9-b278-45764fe7f5cb,NaN,ACTIVE TOKEN

In [6]:
len(tokens_clean)

121

In [7]:
tokens_clean.isnull().sum()

Name                  0
Lead ID               0
created_date          0
paid_date             0
cohort                0
source                0
agent                 0
counsellor            0
prospect_id           1
upload_timestamp    121
status                0
dtype: int64

In [8]:
tokens_clean=tokens_clean.drop('upload_timestamp', axis=1)

In [9]:
len(tokens_clean)

121

In [10]:
tokens_clean.dtypes

Name                    object
Lead ID                 object
created_date    datetime64[ns]
paid_date       datetime64[ns]
cohort                  object
source                  object
agent                   object
counsellor              object
prospect_id             object
status                  object
dtype: object

In [11]:
tokens_clean['prospect_id'].isnull().sum()

np.int64(1)

In [12]:
tokens_clean.isnull().sum()

Name            0
Lead ID         0
created_date    0
paid_date       0
cohort          0
source          0
agent           0
counsellor      0
prospect_id     1
status          0
dtype: int64

In [13]:
len(tokens_clean)

121

In [18]:
tokens_clean = tokens_clean[tokens_clean['prospect_id'].isnull()].fillna(0)

C:\Users\SIDDHARTH\AppData\Local\Temp\ipykernel_20452\3640802590.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tokens_clean = tokens_clean[tokens_clean['prospect_id'].isnull()].fillna(0)

In [19]:
tokens_clean.isnull().sum()

Name            0
Lead ID         0
created_date    0
paid_date       0
cohort          0
source          0
agent           0
counsellor      0
prospect_id     0
status          0
dtype: int64

In [20]:
tokens_clean.to_excel('cleaned_tokens_paid.xlsx', index=False)